<div class="container">
  <div class="row">
    <div class="center login-padding ">
      <div class="col s10 m6 offset-s1 offset-m3">
          <h5 class="Update-font">Your Account Login</h5>
          <%= form_tag admin_sessions_path do %>
            <!-- Alerts & Messages -->
            <% if flash[:notice] %>
                  <div class="chip teal lighten-2 col-m3 col-s10">
                    <%= flash[:notice] %>
                  </div>
            <% end %>
            <% if flash[:alert] %>
                  <div class="chip teal lighten-2 col-m3 col-s10">
                    Failed, <%= flash[:alert] %>
                  </div>
            <% end %>
            <form action="login">
              <%= text_field_tag :email, params[:email], type: "text", id: "email", class: "col s10 offset-s1 m8 offset-m2", placeholder: "Type your email" %>
              <%= password_field_tag :password, '', type: "text", id: "password", class: "col s10 offset-s1 m8 offset-m2", placeholder: "Type your password" %>
              <%= submit_tag "Login", id: "download-button", class: "btn btn-sm waves-effect waves-light orange col s10 offset-s1 m8 offset-m2" %>
            </form>
              <br>
              <br>
              <h6 class="Update-font right-login">Designed by: Ryan Jeff</h6>
              <%= link_to "Back to home", root_path, class: "left-login" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
