<div class="navbar-fixed">
  <nav class="blue darken-3" role="navigation">
    <div class="nav-wrapper">
      <ul class="hide-on-med-and-down admin">
        <li class="logo-admin">ADMIN CONTROL</li>
        <li>
            <%= link_to "Home", root_path %>
        </li>
        <li class="<%= params[:controller] == 'admin/posts' ? 'active' : '' %>">
            <%= link_to "Post", admin_posts_path %>
        </li>
        <li class="<%= params[:controller] == 'admin/categories' ? 'active' : '' %> ">
          <%= link_to "Categories", admin_categories_path %>
        </li>
        <li class="<%= params[:controller] == 'admin/users' ? 'active' : '' %> ">
          <%= link_to "Users", admin_users_path %></li>
        <li>
          <!-- Tag form for search -->
          <%= render "partials/admin/search" %>
        </li>
      </ul>
      <ul class="hide-on-med-and-down right">
        <li>
          <li>
            <% if current_user %>
                  <div class="chip">
                    <b><%= current_user.name.upcase %></b>
                  </div>
                  &nbsp; you are logged In.
                  <%= link_to "Log out", admin_logout_path, class: "waves-effect waves-light btn" %>
                  <% else %>
                  <%= link_to "Log in", admin_login_path, class: "waves-effect waves-light btn"  %>
            <% end %>
          </li>
        </li>
      </ul>
      <!-- Mobile functionality -->
      <ul id="nav-mobile" class="side-nav  blue darken-4 center">
        <li class="yellow-text">ADMIN CONTROL</li>
        <li>
            <%= link_to "HOME", root_path, class:"white-text" %>
        </li>
        <li class="<%= params[:controller] == 'admin/posts' ? 'active' : '' %> ">
            <%= link_to "Post", admin_posts_path, class:"white-text"%>
        </li>
        <li class="<%= params[:controller] == 'admin/categories' ? 'active' : '' %> ">
          <%= link_to "Categories", admin_categories_path, class:"white-text" %>
        </li>
        <li class="<%= params[:controller] == 'admin/users' ? 'active' : '' %> ">
          <%= link_to "Users", admin_users_path, class:"white-text" %></li>
        <li>
          <!-- Tag form for search -->
          <%= render "partials/admin/search" %>
        </li>
        <li>
          <% if current_user %>
                <div class="chip">
                  <b><%= current_user.name.upcase %></b>
                </div>
                &nbsp; you are logged In.
                <%= link_to "Log out", admin_logout_path, class: "waves-effect waves-light btn" %>
                <% else %>
                <%= link_to "Log in", admin_login_path, class: "waves-effect waves-light btn"  %>
          <% end %>
        </li>

      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
</div>
