<br><br><br>
<div class="container ">
  <div class="card-panel">
  <ul>
    <li><h5>Manage Categories</h5></li>
    <li>
      <%= link_to "Create New", new_admin_category_path, class: "waves-effect waves-light btn btn-small" %>
    </li>
  </ul>
<table class="highlight col-s12 col-m12">
  <thead>
    <tr>
        <th data-field="name">Categories Title</th>
        <th data-field="time">Time Created</th>
        <th data-field="price">Action</th>
    </tr>
  </thead>
  <tbody>
          <% @categories.each do |category| %>
    <tr>

      <td><%= category.name %></td>
      <td><%= category.created_at.to_time.strftime('%B %e at %l:%M %p') %></td>
      <td><%= link_to edit_admin_category_path(category), class: "btn-floating blue" do %>
              <i class="material-icons">edit</i>Edit
          <% end %>
          <%= link_to admin_category_path(category), class: "btn-floating red", method: :delete, data: {confirm: 'Are you sure you want to delete?'} do %>
                  <i class="material-icons">delete</i>Delete
          <% end %>
      </td>

    </tr>
          <% end %>
  </tbody>
</table>
</div>
</div>
