<div class="wrapper">
  <div class="section">
    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m7">
        <div class="col s12 m12 spacing-top">
          <div class="icon-block">
            <div class="card-image ">
              <h5 class="left">
                <blockquote>
                  <b><%= @post.title.upcase %></b>
                </blockquote>
              </h5>
              <%= image_tag @post.image.url, width: '100%' %>
              <p class="light"><%= raw @post.body %></p>
              <div class="chip">
                <h6>Created on&nbsp;<%= @post.created_at.to_time.strftime('%B %e at %l:%M %p') %></h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="col s12 m5 collection-padding">
          <div class="row">
            <div class="col s12 m9 offset-m2">
              <%= render partial: "partials/sidebarCategories" %>
            </div>
          <div class="col s12 m9 offset-m2 z-depth-1 blue darken-3" id="border-mailing">
            <h6 class="white-text center">Get More Update</h6>
            <h5 class="white-text center">IN YOUR INBOX</h5>
            <h6 class="white-text center">Subscribe to our mailing list get interesting<br> stuff And Updates to your email Inbox</h6>
            <br>
            <input type="mailinglist" class="mailing-list col m8 s8 offset-m2 offset-s2" placeholder="Type Your Email Here">
            <a class="waves-effect waves-light btn col m8 s8 offset-m2 offset-s2">Sign Up</a>
            <br><br><br><br>
            <p class="white-text center">We respect your privacy and take protecting seriously</p>
          </div>
          </div>
      </div>
    </div>
  </div>
